.trans1 {
    color: #0000cc;
}
.extrastanza1 {
  font-weight: bold;
}
.clarity1 {
  font-family: monospace;
  color: #8888ff;
}
.uncertain1 {
  font-family: monospace;
  color: #888888;
}
.quote1 {
  font-style: italic;
}
